:root {
  --color-bg: #F1F1F1;
  --color-foreground: #130F0E;
  --color-primary: #A78B58;
  --color-primary-light: #D9C49E;
  --color-primary-dark: #735826;
  --color-warm: #4F4B40;
  --color-sand: #DACDB6;

  --font-serif: "Playfair Display", Georgia, serif;
  --font-sans: Inter, system-ui, sans-serif;
  --font-cursive: "Dancing Script", cursive;
}
