:root {
  --sb-white: 0 0% 95%; /* #F1F1F1 */
  --sb-dark: 8 15% 6%; /* #130F0E */
  --sb-primary: 39 31% 50%; /* #A78B58 */
  --sb-primary-light: 39 42% 74%; /* #D9C49E */
  --sb-primary-dark: 39 51% 30%; /* #735826 */
  --sb-warm: 47 10% 28%; /* #4F4B40 */
  --sb-sand: 39 30% 78%; /* #DACDB6 */

  --background: var(--sb-white);
  --foreground: var(--sb-dark);

  --primary: var(--sb-primary);
  --primary-foreground: 0 0% 100%;

  --card: 0 0% 100%;
  --card-foreground: var(--sb-dark);

  --border: 39 30% 85%;
  --input: 39 30% 85%;
  --ring: var(--sb-primary);

  --radius: 0.75rem;
}

.dark {
  --background: var(--sb-dark);
  --foreground: var(--sb-white);

  --card: 15 8% 12%;
  --primary: var(--sb-primary-light);
  --border: 15 8% 18%;
}
